<div class="container mat-elevation-z8">
  <h2 class="well">Reset Password</h2>
  <div class="row">
    <form [formGroup]="EditEmployeeForm" (ngSubmit)="onUpdateFormSubmit()">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 form-group">
            <label>Employee ID</label>
            <input
              type="text"
              placeholder="Enter Employee ID"
              formControlName="_id"
              class="form-control"
            />
          </div>
        </div>
        <br />

        <br />

        <br />

        <div class="row">
          <div class="col-sm-6 form-group">
            <label>New Password</label>
            <input
              type="password"
              placeholder="Enter new Password"
              formControlName="password"
              class="form-control"
            />
          </div>
        </div>
        <br />
        <br />
        <mat-divider></mat-divider>
        <br />

        <br />

        <div class="row"></div>
        <br />
        <br />
        <button
          type="submit"
          class="btn btn-lg btn-info"
          style="align-items: center"
        >
          reset Password
        </button>
        <br />
      </div>
      <br />
    </form>
  </div>
</div>
